* {
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #291c36;
  background: linear-gradient(
    90deg,
    rgba(41, 28, 54, 0.79) 0%,
    rgba(253, 29, 29, 0.88) 50%,
    rgba(240, 184, 105, 0.85) 100%
  );
}
.Login {
  width: 20%;
  height: 200px;
  margin: 10% auto;
  border-radius: 20px;
  padding: 14px;
}
.form {
  margin: 20px;
}
